<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/login.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>

<h2>Login Form</h2>

<!--<form action="/action_page.php" method="post">-->

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        
    <button type="submit" class="btn btn-info">Login</button>
    <a href="/home"><button type="button" class="btn btn-danger">Cancel</button></a>
  </div>
<!--</form>-->

</body>
</html>
